@using WayfinderProject.Components
@using WayfinderProject.Domain.Models
@using WayfinderProject.Domain.Models.JiminyJournal


@* <td style="vertical-align: middle;">
    @if (this.MainTable != null)
    {
        if (this.MainTable.CurrentExpandedRow == this.JournalEntry.Id)
        {
            <div class="clickable" style="border-radius: 100px; background-color: #f4f5fd; border: solid 2px #5499fc; width: 30px; height: 30px; padding: 2px 6px 15px 15px;" @onclick="@(() => MainTable.UpdateExpandedRow(JournalEntry.Id))">
                <span class="oi oi-minus mr-1 clickable" style="color: #5499fc; font-size: small;"></span>
            </div>
        }
        else
        {
            <div class="clickable" style="border-radius: 100px; background-color: #f4f5fd; border: solid 2px #5499fc; width: 30px; height: 30px; padding: 2px 6px 15px 15px;" @onclick="@(() => MainTable.UpdateExpandedRow(JournalEntry.Id))">
                <span class="oi oi-plus mr-1 clickable" style="color: #5499fc; font-size: small;"></span>
            </div>
        }
    }
</td>
<td style="vertical-align: middle;">
    <span style="font-weight: 600;">@JournalEntry.Game.Name</span>
</td>
<td style="vertical-align: middle;">
    <span style="font-weight: 600;">@JournalEntry.Title</span>
</td>
<td style="vertical-align: middle;">
    <RowContentDisplay Content="this.JournalEntry.Worlds.Select(x => x.Name).Distinct().ToList()" CustomDisplayClass="world-display" CustomColourClass="world-color" />
</td>
<td style="vertical-align: middle;">
    <RowContentDisplay Content="this.JournalEntry.Characters.Select(x => x.Name).Distinct().ToList()" CustomDisplayClass="character-display" CustomColourClass="character-color" CustomTooltipMargin="-200" />
</td>
<td style="vertical-align: middle;">
    <span style="font-weight: 600;">@JournalEntry.AdditionalInformation</span>
</td> *@


<style>
.clickable {
    float: right;
    font-size: 1rem;
    color: #3e79a7;
    margin-top: 3px;
    cursor: pointer;
}

.favorite-icon-inactive {
    font-size: x-large;
    margin-top: 5px;
    width: 30px;
    color: #b4b4b4ab;
    cursor: pointer;
    transition: color ease-in-out .4s;
}

    .favorite-icon-inactive:hover {
        color: #e7c009;
    }

.favorite-icon-active {
    font-size: x-large;
    margin-top: 5px;
    width: 30px;
    color: #e7c009;
    cursor: pointer;
    transition: color ease-in-out .4s;
}

    .favorite-icon-active:hover {
        color: #b4b4b4ab;
    }

.project-icon-inactive {
    font-size: x-large;
    margin-top: 5px;
    color: #b4b4b4ab;
    cursor: pointer;
    transition: color ease-in-out .4s;
}

    .project-icon-inactive:hover {
        color: #c76ce9;
    }

.project-icon-active {
    font-size: x-large;
    margin-top: 5px;
    color: #c76ce9;
    cursor: pointer;
    transition: color ease-in-out .4s;
}


    .project-icon-active:hover {
        color: #b4b4b4ab;
    }
</style>

@code {
    [Parameter] public JournalEntry JournalEntry { get; set; } = new JournalEntry();
    [Parameter] public JournalEntryTable<JournalEntry>? MainTable { get; set; }

    private BrowserDimension BrowserDimension { get; set; } = new BrowserDimension();

    protected override async Task OnParametersSetAsync()
    {
        //this.BrowserDimension = await BrowserService.GetDimensions();

        await base.OnParametersSetAsync();
    }
}
