@page "/memory_archive"
@inject NavigationManager NavigationManager
@inject DataServiceFactory ServiceFactory

@inject IJSRuntime JS
@inject IToastService toastService

@using WayfinderProject.Components.Tables
@using WayfinderProject.Domain
@using WayfinderProject.Domain.Factories
@using WayfinderProject.Domain.Interfaces
@using WayfinderProject.Domain.Models
@using WayfinderProject.Domain.Models.Filters
@using WayfinderProject.Domain.Models.Filters.MemoryArchive
@using WayfinderProject.Domain.Models.MemoryArchive
@using WayfinderProject.Domain.Models.MemoryArchive.SubData
@using WayfinderProject.Services
@using WayfinderProject.Services.MemoryArchive

<PageTitle>The Wayfinder Project - Memory Archive</PageTitle>

<br/>
<br/>

    <div class="wayfinder-background">
        <div class="wayfinder-parallax">

            @if (!this.IsMobile)
            {
                <div class="row" style="width: 100%; margin: 0px 0px 30px 0px">
                    <div class="col-md-12" style="align-self: center;">
                        <div class="wayfinder-title">
                            <img src="images/wayfinder_project_title.png" />
                        </div>

                        <div class="wayfinder-description">
                            <strong>Search for a <span style="color: #522aff;">Word</span>, <span style="color: #ff7519;">Phrase</span> or <span style="color: #2cce78;">Quote</span>...</strong>
                        </div>

                        <div class="wayfinder-search">
                            <span class="wayfinder-search-icon material-icons">search</span>
                            <input id="main-search"
                                   class="custom-input"
                                   value="@ActiveService?.State.SearchTerm"
                                   @oninput="HandleSearchInput"
                                   placeholder="Search for a Word, Phrase or Quote...">

                            @* <button class="wayfinder-search-button" @onclick="Search">Search</button> *@
                        </div>

                        <div class="wayfinder-sub-description">
                            <strong>
                                Or use a combination of filters below to search through
                                @foreach (var filter in GetActiveFilters())
                                {
                                    <span style="color: @filter.Color;">@filter.Name</span>
                                    @(filter.Name != GetActiveFilters().Last().Name ? ", " : ".")
                                }
                            </strong>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row" style="width: 100%; margin: 0px 0px 30px 0px">
                    <div class="col-md-1"></div>

                    <div class="col-md-4" style="text-align: center;">
                        <div class="wayfinder-title">
                            <strong><span style="color: #522aff;">Cutscene of the Day</span></strong>
                        </div>

                        <div class="wayfinder-alt-description">
                            <strong>
                                Discover a brand new daily cutscene by visiting The Wayfinder Project everyday! Follow <a href="https://twitter.com/WFP_KH" target="_blank">@@WFP_KH on Twitter</a>!
                            </strong>
                        </div>

                        <br />

                        <button class="wayfinder-button" onclick="@(() => this.NavigateToDailyCutscene())" @onclick:stopPropagation>Daily Cutscene</button>
                    </div>

                    <div class="col-md-2"></div>

                    @if (this.IsMobile)
                    {
                        <span style="margin-bottom: 25px;"></span>
                    }

                    <div class="col-md-4" style="text-align: center;">
                        <div class="wayfinder-title">
                            <strong>
                                <span style="color: #ea4a4a;">Random</span> 
                                <span style="color: #2cce78;">Scene</span> 
                                <span style="color: #5499fc;">Gen</span>
                            </strong>
                        </div>

                        <div class="wayfinder-alt-description">
                            <strong>
                                Can't decide which scene you want to find? Let us choose for you by selecting a random scene!
                            </strong>
                        </div>

                        <br />

                        <button class="wayfinder-button" onclick="@(() => this.NavigateToRandomCutscene())" @onclick:stopPropagation>Random Cutscene</button>
                    </div>

                    <div class="col-md-1"></div>
                </div>
            }
        </div>
    </div>

@if (Loading)
{
    <div class="row justify-content-center"><div class="spinner col-md-12"></div></div>
}
else
{
    <div style="@(!this.IsMobile ? "display: inline-flex;" : "")">
        <div class="">
            <NavBar Categories="@ServiceMap.Keys.ToList()"
                    OnCategoryChanged="@(async (cat) => await UpdateCurrentCategory(cat))"
                    CurrentCategory="@this.CurrentCategory" />
        </div>

        <div class="wayfinder-search-alt">
            <span class="wayfinder-search-icon material-icons">search</span>
            <input id="main-search-alt"
                   class="custom-input"
                   value="@ActiveService?.State.SearchTerm"
                   @oninput="HandleSearchInput"
                   placeholder="Start Typing...">

            @* @if (!this.IsMobile)
            {
                <button class="wayfinder-search-button" @onclick="Search">Search</button>
            } *@
        </div>
    </div>

    @if (!this.IsMobile)
    {
        <div class="wayfinder-search-alt" style="width: 0%;">
            <div style="position: absolute; right: 175px; display: inline-flex;">
                @* <div style="margin-top: 20px; margin-right: 15px;">
                    <span style="font-size: larger;"><strong>Results Display: </strong></span>
                </div>

                <NavBar Categories="@(new List<string> { "Table", "Tiles" })"
                        OnCategoryChanged="@(async (dis) => await UpdateCurrentResultsDisplay(dis))"
                        CurrentCategory="@this.CurrentResultsDisplay" /> *@
            </div>
        </div>

        <SubNavBar @ref="WayfinderSubNavBar"
                   @key="ActiveService"
                   FocusOption="@OrderedOptions?.First()"
                   Options="@OrderedOptions"
                   OnOptionSelected="EventCallback.Factory.Create<string>(this, UpdateCurrentOption)"
                   StartingOption="@this.CurrentOption" />
    }
    else
    {
        <div class="wayfinder-buttons" style="align-self: center; margin: 15px;">
            @*<button class="@(this.CurrentViewMobile == "Selected" ? "wayfinder-outlined-button" : "wayfinder-search-button")" @onclick="@(() => ToggleView())" style="right: unset; margin-left: 25px;">@(this.CurrentViewMobile == "Available" ? "Filters" : "Options")</button>*@

            <button class="clear-all-button" @onclick="ClearAllOptions">Clear All</button>
        </div>
    }

    @if (!this.IsMobile)
    {
        <div class="advanced-search-box">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var filter in GetActiveFilters())
                    {
                        <SearchComponent @key="filter.Id"
                                         Id="@filter.Id"
                                         Placeholder="Start Typing..."
                                         Color="@filter.Color"
                                         CurrentOption="@this.CurrentOption"
                                         CanSearch="!this.Loading"
                                         CanShowClearAll="@this.CanDisplayClearAll"
                                         Initial="@filter.Initial"
                                         Selected="@filter.Selected"
                                         Available="@filter.Available"
                                         OnItemSelected="@(val => HandleSelection(filter.Id, val))"
                                         OnItemRemoved="@(val => HandleRemoval(filter.Id, val))"
                                         ClearAllMethod="@(async () => await ClearAllOptions())" />
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        @* Mobile View: Uses Chunk(2) to create rows of two columns each *@
        @foreach (var pair in GetActiveFilters().Chunk(2))
        {
            <div class="row" style="margin-top: 10px;">
                @foreach (var filter in pair)
                {
                    <div class="col-md-6">
                        <MobileSearchComponent Id="@filter.Id"
                                               Name="@filter.Name"
                                               Initial="@filter.Initial"
                                               Available="@filter.Available"
                                               Selected="@filter.Selected"
                                               CurrentView="@this.CurrentViewMobile"
                                               UpdateSearch="@(async () => await Search())" />
                    </div>
                }
            </div>
        }
    }

    <span style="margin-bottom: 50px;"></span>

    if (CurrentResultsDisplay == "Table")
    {
        <GenericTable CurrentResults="@CurrentResults">
            <ExpansionTemplate Context="item">
                @if (item is Interaction<ScriptLine> interaction)
                {
                    <MemoryArchiveExpansion TItem="Interaction<ScriptLine>" Item="interaction" />
                }
                else if (item is Interview<ScriptLine> interview)
                {
                    <InterviewExpansion TItem="Interview<ScriptLine>" Item="interview" />
                }
                else if (item is Scene<ScriptLine> scene)
                {
                    <MemoryArchiveExpansion TItem="Scene<ScriptLine>" Item="scene" />
                }
                else if (item is Trailer<ScriptLine> trailer)
                {
                    <MemoryArchiveExpansion TItem="Trailer<ScriptLine>" Item="trailer" />
                }
                else
                {
                    <div class="p-4">No detailed view available for this item.</div>
                }
            </ExpansionTemplate>
        </GenericTable>
    }
    else
    {
        @* <GenericCard CurrentResults="@CurrentResults" /> *@
    }
}


@code {
    public bool Loading { get; set; }
    public bool IsMobile { get; set; }
    public bool CanDisplayClearAll { get; set; }

    public string CurrentResultsDisplay { get; set; } = "Table";
    public string CurrentCategory { get; set; } = "Scenes";
    public string CurrentOption { get; set; } = "Games";
    public string CurrentSubOption { get; set; } = "Details";

    public string CurrentViewMobile { get; set; } = "Available";

    private IBaseDataService? ActiveService;

    public InteractionService? InteractionService;
    public InterviewService? InterviewService;
    public SceneService? SceneService;
    public TrailerService? TrailerService;

    public SubNavBar WayfinderSubNavBar { get; set; } = default!;

    private IEnumerable<object> CurrentResults = new List<object>();
    private Dictionary<string, IBaseDataService?> ServiceMap = new();
    private IEnumerable<string>? OrderedOptions => ActiveService?.GetOrderedCategoryNames();

    private record CategoryConfig(
        string Name,
        Type TableType,
        Type CardType,
        IEnumerable<object> Data
    );

    protected override async Task OnInitializedAsync()
    {
        Loading = true;

        await Task.Yield();

        var interactionTask = ServiceFactory.CreateAsync<InteractionService, Interaction<ScriptLine>, InteractionCriteria, ScriptLine, InteractionScriptWrapper, InteractionWrapper<Interaction<ScriptLine>>>(Constants.InteractionsPath);
        var interviewTask = ServiceFactory.CreateAsync<InterviewService, Interview<ScriptLine>, InterviewCriteria, ScriptLine, InterviewDialogueWrapper, InterviewWrapper<Interview<ScriptLine>>>(Constants.InterviewsPath);
        var sceneTask = ServiceFactory.CreateAsync<SceneService, Scene<ScriptLine>, SceneCriteria, ScriptLine, SceneScriptWrapper, SceneWrapper<Scene<ScriptLine>>>(Constants.ScenesPath);
        var trailerTask = ServiceFactory.CreateAsync<TrailerService, Trailer<ScriptLine>, TrailerCriteria, ScriptLine, TrailerScriptWrapper, TrailerWrapper<Trailer<ScriptLine>>>(Constants.TrailersPath);

        await Task.WhenAll(interactionTask, interviewTask, sceneTask, trailerTask);

        InteractionService = interactionTask.Result;
        InterviewService = interviewTask.Result;
        SceneService = sceneTask.Result;
        TrailerService = trailerTask.Result;

        ServiceMap = new Dictionary<string, IBaseDataService?>
        {
            { "Scenes", SceneService },
            { "Interactions", InteractionService },
            { "Trailers", TrailerService },
            { "Interviews", InterviewService }
        };

        ActiveService = ServiceMap[CurrentCategory];

        if (ActiveService != null)
        {
            Loading = false; // Set this to false so that Search can occur
            await Search();
        }

        Loading = false;
    }

    public async Task ClearAllOptions()
    {
        if (this.Loading) return;

        if (ActiveService == null) return;

        ActiveService.ClearFilters();

        await this.Search();
    }

    private async Task HandleSearchInput(ChangeEventArgs e)
    {
        var term = e.Value?.ToString() ?? string.Empty;

        if (ActiveService == null) return;

        ActiveService.State.SearchTerm = term;

        await Search();
    }

    private async Task Search()
    {
        if (Loading || ActiveService == null) return;

        Loading = true;

        ActiveService.RefreshAvailableMetadata();

        this.CurrentResults = ActiveService.GetFilteredResults();

        Loading = false; 
        StateHasChanged();
    }

    private IBaseDataService? GetCurrentService() => CurrentCategory switch
    {
        "Scenes" => SceneService,
        "Interactions" => InteractionService,
        "Trailers" => TrailerService,
        "Interviews" => InterviewService,
        _ => null
    };

    private List<FilterMetadata> GetActiveFilters()
    {
        if (ActiveService == null) return new List<FilterMetadata>();

        return CurrentCategory switch
        {
            "Interactions" => new List<FilterMetadata>
            {
                CreateMetadata(ActiveService, "Interactions", "#e685da"),
                CreateMetadata(ActiveService, "Areas", "#5499fc"),
                CreateMetadata(ActiveService, "Characters", "#f3b222"),
                CreateMetadata(ActiveService, "Games", "#cdd1ff"),
                CreateMetadata(ActiveService, "Music", "#a13bfb"),
                CreateMetadata(ActiveService, "Worlds", "#ea4a4a")
            },
            "Interviews" => new List<FilterMetadata>
            {
                CreateMetadata(ActiveService, "Interviews", "#e685da"),
                CreateMetadata(ActiveService, "Games", "#cdd1ff"),
                CreateMetadata(ActiveService, "Participants", "#f3b222"),
                CreateMetadata(ActiveService, "Providers", "#ea4a4a"),
                CreateMetadata(ActiveService, "Translators", "#5499fc")
            },
            "Scenes" => new List<FilterMetadata>
            {
                CreateMetadata(ActiveService, "Scenes", "#e685da"),
                CreateMetadata(ActiveService, "Areas", "#5499fc"),
                CreateMetadata(ActiveService, "Characters", "#f3b222"),
                CreateMetadata(ActiveService, "Games", "#cdd1ff"),
                CreateMetadata(ActiveService, "Music", "#a13bfb"),
                CreateMetadata(ActiveService, "Worlds", "#ea4a4a")
            },
            "Trailers" => new List<FilterMetadata>
            {
                CreateMetadata(ActiveService, "Trailers", "#e685da"),
                CreateMetadata(ActiveService, "Areas", "#5499fc"),
                CreateMetadata(ActiveService, "Characters", "#f3b222"),
                CreateMetadata(ActiveService, "Games", "#cdd1ff"),
                CreateMetadata(ActiveService, "Music", "#a13bfb"),
                CreateMetadata(ActiveService, "Worlds", "#ea4a4a")
            },
            _ => new List<FilterMetadata>()
        };
    }

    private FilterMetadata CreateMetadata(IBaseDataService service, string id, string color)
    {
        return new FilterMetadata
        {
            Id = id,
            Name = id,
            Color = color,
            Initial = service.State.Initial.GetValueOrDefault(id, new List<string>()),
            Selected = service.State.Selected.GetValueOrDefault(id, new List<string>()),
            Available = service.State.Available.GetValueOrDefault(id, new List<string>())
        };
    }

    public async Task UpdateCurrentCategory(string category)
    {
        if (Loading || category == CurrentCategory) return;

        this.CurrentCategory = category;

        if (ServiceMap.TryGetValue(category, out var service) && service != null)
        {
            ActiveService = service;

            await Search();

            this.CurrentOption = ActiveService.State.Available.Keys.FirstOrDefault() ?? "Games";
        }
    }

    public async Task UpdateCurrentResultsDisplay(string resultsDisplay)
    {
        if (Loading || resultsDisplay == CurrentResultsDisplay) return;

        Loading = true;

        this.CurrentResultsDisplay = resultsDisplay;

        Loading = false;
        StateHasChanged();
    }

    private async Task UpdateCurrentOption(string option)
    {
        if (this.CurrentOption == option || ActiveService == null) return;

        this.CurrentOption = option;

        await Task.Yield();
    }

    private async Task HandleSelection(string category, string value)
    {
        if (ActiveService == null) return;

        if (!ActiveService.State.Selected.ContainsKey(category))
        {
            ActiveService.State.Selected[category] = new List<string>();
        }

        if (!ActiveService.State.Selected[category].Contains(value))
        {
            ActiveService.State.Selected[category].Add(value);

            await Search();

            ActiveService.State.Available[category].Remove(value);
        }
    }

    private async Task HandleRemoval(string category, string value)
    {
        if (ActiveService == null) return;

        if (ActiveService.State.Selected.ContainsKey(category))
        {
            ActiveService.State.Selected[category].Remove(value);

            await Search();

            ActiveService.State.Available[category].Add(value);
        }
    }

    private async Task NavigateToRandomCutscene()
    {
        // Random-ness is handled within the Service
        await NavigateToCutscene();
    }

    private async Task NavigateToDailyCutscene()
    {
        var seed = DateTime.UtcNow.ToShortDateString();
        await NavigateToCutscene(seed);
    }


    private async Task NavigateToCutscene(string seed = "")
    {
        ActiveService = SceneService;
        if (ActiveService == null) return;
        var result = ActiveService.GetRandomResult(seed) as Scene<ScriptLine> ?? new();

        await ClearAllOptions();

        await HandleSelection("Scenes", result.Name);
    }
}